body{
margin: 0;
padding:0;
}

#container{
	 width: 800px;
	 margin: auto;
	 background-color: #EFE4CE;
	 background-image: url("../img/titulo.png");
	 background-size: auto 500px;
	 background-repeat: no-repeat;
	 background-position: left top;
 }
 
 #level1{
 	 clear:both;
	 background-image: url("https://cloud.githubusercontent.com/assets/12258170/7479426/e1d30d0c-f361-11e4-86d8-3d1901d8a92f.png");
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center;
	 width: 600px;
	 height: 150px;
	 margin:auto;
 }
 
#level2{
	clear:both;
	 background-image: url("https://cloud.githubusercontent.com/assets/12258170/7479145/f88b0c54-f35f-11e4-9110-dc3fbd077136.png");
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center;
	 height: 50px;
	 width: 60%;
	 margin:auto;
 }
 
 #level3{
	width: 30%;
	margin: auto;
	 padding-top: 5%;
	 margin-top: 5%;
 }
 
 #level3left{
	 background-image: url("https://cloud.githubusercontent.com/assets/12258170/7478389/dda3c46c-f35a-11e4-8097-182ffc98b545.png");
	 float: left;
	 background-size: contain;
	 background-repeat: no-repeat;
	 height: 80px;
	 width: 50%;
 }
 
 #level3right{
	 background-image: url("https://cloud.githubusercontent.com/assets/12258170/7478852/dba2c408-f35d-11e4-8cef-46062457366b.png");
	 float:right;
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: right;
	 height: 80px;
	 width: 50%;
 }
 
 #level4{
	clear: both;
	margin: auto;
	width: 720px;
	height: 200px;
 }

 #circleUs{
	width: 120px;
	height: 120px;
	background-image: url("https://cloud.githubusercontent.com/assets/12258170/7973260/ebb80828-0a53-11e5-9c12-46404653611a.png");
	 float:left;
	 background-size: contain;
	 background-repeat: no-repeat;
    background-position: center; 
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	margin-right: 30px;
	margin-top: 30px;
}
 
 #circleTimeline {
	width: 120px;
	height: 120px;
	background-image: url("https://cloud.githubusercontent.com/assets/12258170/7478881/00b181f8-f35e-11e4-9642-5edf296fab71.png");
	 float:left;
	 background-size: contain;
	 background-repeat: no-repeat;
    background-position: center; 
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	margin-right: 30px;
	margin-top: 30px;
}

 #circleHotel{
	width: 120px;
	height: 120px;
	background-image: url("https://cloud.githubusercontent.com/assets/12258170/7479034/268f0282-f35f-11e4-85ce-de722076aed1.png");
	 float:left;
	 background-size: contain;
	 background-repeat: no-repeat;
    background-position: center; 
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	margin-right: 30px;
	margin-top: 30px;
}

 #circleMap{
	width: 120px;
	height: 120px;
	background-image: url("https://cloud.githubusercontent.com/assets/12258170/7479069/702ad542-f35f-11e4-92b6-9d677dd64f04.png");
	 float:left;
	 background-size: contain;
	 background-repeat: no-repeat;
    background-position: center; 
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	margin-right: 30px;
	margin-top: 30px;
}

 #circleInfo{
	width: 120px;
	height: 120px;
	background-image: url("https://cloud.githubusercontent.com/assets/12258170/7973460/cc4f3ff4-0a55-11e5-83f5-84f884f74758.png");
	 float:left;
	 background-size: contain;
	 background-repeat: no-repeat;
    background-position: center; 
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	margin-top: 30px;
}
 
 #level5{
	clear: both;
	margin: auto;
	width: 720px;
 }
 
 #level6{
	clear: both;
	margin: auto;
	width: 720px;
	font-size: 20px;
 }

.texto{
	clear: both;
	width: 600px;
	margin: auto;
	font-family: Typewriter;
	font-size: 25px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.textoSmall{
	clear: both;
	width: 600px;
	margin: auto;
	font-family: Typewriter;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.label{
	clear: both;
	width: 600px;
	margin: auto;
	font-family: Castellar;
	font-size: 35px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer{
	clear:both;
	height: 40px;
	color: #303030;
	text-align: center;
}

#footerInformation{
	height: 25px;
}

#copyright{
	width: 100%;
	font-size: 14px;
}

#iconsCopyright{
	font-size: 10px;
	color: gray;
}

a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}
